#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>
#include <dt-bindings/zmk/bt.h>
#include "defines/main.h"
#include "behavior_skq.h"
#include "layers/default"

/ {
  behaviors {
    TEST
  };

  keymap {
    compatible = "zmk,keymap";

    default {
      bindings = <
        DEFAULT_LAYER
    >;};
    numbers {
      bindings = <
//╭────────┬────────┬────────┬────────┬────────╮  ╭────────┬────────┬────────┬────────┬────────╮
      ko       ko       ko       ko       ko         num_7    num_8    num_9     ko       ko
//├────────┼────────┼────────┼────────┼────────┤  ├────────┼────────┼────────┼────────┼────────┤
      ko       ko       ko       ko       ko         num_4    num_5    num_6     ko       ko
//├────────┼────────┼────────┼────────┼────────┤  ├────────┼────────┼────────┼────────┼────────┤
      ko       ko       ko       ko       ko         num_1    num_2    num_3    num_0     ko
//╰────────┴────────┴────────┼────────┼────────┤  ├────────┼────────┼────────┴────────┴────────╯
                                ko      enter       space    enter
//                           ╰────────┴────────╯  ╰────────┴────────╯
    >;};
    symbols {
      bindings = <
//╭────────┬────────┬────────┬────────┬────────╮  ╭────────┬────────┬────────┬────────┬────────╮
      ko       ko       ko       ko       ko         num_7    num_8    num_9     ko       ko
//├────────┼────────┼────────┼────────┼────────┤  ├────────┼────────┼────────┼────────┼────────┤
      ko       ko       ko       ko       ko         num_4    num_5    num_6     ko       ko
//├────────┼────────┼────────┼────────┼────────┤  ├────────┼────────┼────────┼────────┼────────┤
      ko       ko       ko       ko       ko         num_1    num_2    num_3    num_0     ko
//╰────────┴────────┴────────┼────────┼────────┤  ├────────┼────────┼────────┴────────┴────────╯
                                ko      enter       space    enter
//                           ╰────────┴────────╯  ╰────────┴────────╯
    >;};
  };
};
