#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>
#include <dt-bindings/zmk/bt.h>
#include "defines.h"

// &mt {
//    // flavor = "tap-preferred";
//    // tapping_term_ms = <200>;
// };
//
// &sk {
//   ignore-modifiers;
//   release-after-ms = <2000>;
// };
//
// &kscan0 {
//   debounce-period = <10>;
// };

/ {
  keymap {
    compatible = "zmk,keymap";

    default_layer {
      bindings = <
//╭────────┬────────┬────────┬────────┬────────╮  ╭────────┬────────┬────────┬────────┬────────╮
        a_       z_       e_       r_       t_         y_       u_       i_       o_       p_
//├────────┼────────┼────────┼────────┼────────┤  ├────────┼────────┼────────┼────────┼────────┤
        q_       s_       d_       f_       g_         h_       j_       k_       l_       m_
//├────────┼────────┼────────┼────────┼────────┤  ├────────┼────────┼────────┼────────┼────────┤
        w_       x_       c_       v_       b_         n_    comma_   scolon_  colon_   excla_
//╰────────┴────────┴────────┼────────┼────────┤  ├────────┼────────┼────────┴────────┴────────╯
                               sl_num    enter_      space_   enter_
//                           ╰────────┴────────╯  ╰────────┴────────╯
    >;};
    numbers {
      bindings = <
//╭────────┬────────┬────────┬────────┬────────╮  ╭────────┬────────┬────────┬────────┬────────╮
      ko_      ko_      ko_      ko_      ko_        num_7    num_8    num_9     o_       p_
//├────────┼────────┼────────┼────────┼────────┤  ├────────┼────────┼────────┼────────┼────────┤
      q_       s_       d_       f_       g_         num_4    num_5    num_6     l_       m_
//├────────┼────────┼────────┼────────┼────────┤  ├────────┼────────┼────────┼────────┼────────┤
      ko_      ko_      ko_      ko_      ko_        num_1    num_2    num_3    num_0     ko_
//╰────────┴────────┴────────┼────────┼────────┤  ├────────┼────────┼────────┴────────┴────────╯
                                ko_   enter_        space_   enter_
//                           ╰────────┴────────╯  ╰────────┴────────╯
    >;};
  };
};
